#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}

#section-one{
    width: 100%;
    height: 100vh;
}

#section-two{
    padding: 0;
    margin: 0;
    background: #1a1e24;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'IBM Plex Sans', sans-serif;
}

#section-three{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#section-four{
    width: 100%;
    height: 65vh;
}

iframe{
    width: 100%;
    height: 65vh;
    border: 0
}

#section-six{
    width: 100%;
    background: #1a1e24;
}

#section-seven{
    background: #1a1e24;
    width: 100%;
    color: #FFFFFF;
}

#devfest-main{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

#ibm-logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mlh-logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#astrolabs-logo{
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section-six h1{
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}

#section-seven h1{
    font-family: 230%;
}

h1{
    font-size: 250%;
    margin-bottom: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 120%;
}

.label{
    color: #FFFFFF;
}

.checkbox:hover, .radio:hover{
    color: #FFFFFF;
}

.track-checkbox{
    margin-left: 5px;
    margin-right: 10px;
}

#section-seven-left{
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-header-override{
    background: #1a1e24;
}

.card-header-title-override{
    color: #FFFFFF;
}

.header-location{
    color: #FFFFFF;
    padding: 5px;

}

.speaker-images{
    width: 70%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.speaker-designation{
    font-size: 100%;
}

@media screen and (max-width: 800px) {
    .column-photos {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column-photos {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}








