#section-one{
    width: 100%;
    height: 100vh;
}

#devfest-main{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 125%;
}

#card-registation{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

