<div style="border-top: 10px solid #fff; background: #fff;">
<div style="border-top: 5px solid #fff; border-bottom: 5px solid #fff; text-decoration: none; color: black; font-size: 28px; line-height: 30px; font-weight: bold;">See you at <a style="text-decoration: none;" href="http://devfest.ml/">DevFest 2018 </a></div>
<div style="border-top: 2px solid #fff; border-bottom: 6px solid #fff; background: #fff; color: #ccc!important; font-size: 18px;">IBM Cloud - Dubai</div>
</div>
<div style="color: #000;">
<div style="border-top: 10px solid #fff; background: #fff; font-size: 20px; font-weight: bold; line-height: 24px;">Invite a friend</div>
<div style="border-top: 5px solid #fff; border-bottom: 15px solid #fff; background: #fff;">Simply forward this email to a friend and have them <a style="text-decoration: none;" href="http://devfest.ml/">join</a> the event.</div>
<div class="meetup-event-meta" style="float: left; border-top: 4px solid #fff; background: #fff; min-width: 220px;">
<div style="border-bottom: 8px solid #fff; background: #fff;">
<table style="padidng-bottom: 8px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 26px; text-align: left; padding: 0 8px 0 0;" valign="top">&nbsp;</td>
<td>
<div style="font-size: 16px; border-bottom: 4px solid #fff;">Friday, June 29-30th, 2018</div>
<span style="font-size: 13px;"> at 9:00 AM</span></td>
</tr>
</tbody>
</table>
</div>
<div>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 26px; text-align: left; padding: 0 8px 0 0;" valign="top">&nbsp;</td>
<td>
<div style="font-size: 16px; border-bottom: 2px solid #fff; background: #fff;">AstroLabs Dubai</div>
<div style="font-size: 13px; border-bottom: 2px solid #fff; background: #fff;">Parkside Retail Level</div>
<div style="font-size: 13px; border-bottom: 2px solid #fff; background: #fff;">Cluster R, JLT - Dubai</div>
<div style="font-size: 13px; border-bottom: 2px solid #fff; background: #fff;">&nbsp;</div>
<div style="font-size: 13px;">Dubai</div>
<div style="font-size: 11px; border-top: 4px solid #fff; background: #fff;"><a style="color: #3987cb; text-decoration: none; vertical-align: middle; font-size: 13px;" href="https://www.google.com/maps/dir/''/Astrolabs/@25.0769026,55.0771907,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3e5f6cad97a03f91:0x9cee6adf07ebed17!2m2!1d55.147231!2d25.076919">Directions</a></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>